* {
    margin: 0;	
	text-align: center;	
	box-sizing: border-box;
}
#links {
    text-align: center;
    
}
#content {
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 10%;
    margin-bottom: 10%;
}
li {
    border: 2px solid black;
    margin-bottom: 10px;
}
@media (max-width: 768px) {
    #content {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;
        margin-bottom: 10%;
    }
}