*{
	margin: 0;	
	text-align: center;	
	box-sizing: border-box;
}
h1{
	background-color: white;
	border: 2px solid black;
	width: 60%;
	font-size: 30px;
}
.pages > a{
	border: 2px solid black;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 20px;
}
.column{
	flex: 50%;
}
#content{
	display: flex;
}
#h_1{
	margin-left: 2%;
}
#h_3{
	margin-left: 2%;
	font-size: 22px;
}
#h_2{
	margin-right: 2%;
	flex: right;
	margin-left: auto;
}
#left-column{
	flex: 25%;
	background-color: yellow;
	border-right: 2px solid black;
}
#right-column{
	flex: 66%;
	background-color: red;
	margin-left: 10%;
	border-left: 2px solid black;
}
#p1{
	height: 600px;
	background-color: #d6c694;
	font-size: 22px;
	overflow: hidden;
}
#p2{
	height: 100px;
	background-color: #94b6d6;
	border-bottom: 2px solid black;
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	flex: 50%;
	overflow: hidden;
}
#p3{
	height: 500px;
	background-color: white;
	font-size: 22px;
	overflow: hidden;
}
#p4{
	height: 100px;
	background-color: #cbd694;
	border-top: 2px solid black;
	font-size: 22px;
	overflow: hidden;
}
#p5{
	height: 100px;
	background-color: #94b6d6;
	border-top: 2px solid black;
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	flex: 50%;
	overflow: hidden;
}
#list{
	font-size: 22px;
}
img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	padding-top: 3px;
}
#text1{
	padding-top: 100px;
}
#text2{
	padding-top: 10px;
}
#text3{
	padding-top: 5px;
}
#text4{
	padding-top: 50%;
}
.song{
	padding-top: 45px;
}
.list{
	padding-top: 150px;
}