*{
	margin: 0;	
	text-align: center;	
	box-sizing: border-box;
}
h1{
	background-color: white;
	border: 2px solid black;
	font-size: 30px;
}
.pages {
	flex: right;
	margin-left: auto;
}
.pages > a{
	border: 2px solid black;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 20px;
}
.column{
	width: 50%;
	height: max-content;
}
#content{
	display: flex;
	flex-direction: column;
}
#content.left-column {
	display: flex;
}
#h_1{
	margin-left: 2%;
}
#h_3{
	margin-left: 2%;
	font-size: 22px;
	text-align: left;
	height: max-content;
}
#h_2{
	margin-right: 2%;
	flex: right;
	margin-left: auto;
	height: max-content;
}
.left-column{
	flex: 25%;
	border-right: 2px solid black;
	display: flex;
	flex-direction: column;
}
.right-column{
	flex: 75%;
}
.main-content {
	margin-left: 10%;
	border-left: 2px solid black;
	height: 100%;
	display: flex;
	flex-direction: column;
}
#p1{
	min-height: 600px;
	display: flex;
	height: 100%;
	background-color: #d6c694;
	font-size: 22px;
}
#p2{
	max-height: max-content;
	background-color: #94b6d6;
	border-bottom: 2px solid black;
	padding-top: 30px;
	padding-bottom: 30px;
	align-items: center;
	display: flex;
}
#p3{
	min-height: 500px;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: white;
	font-size: 22px;
}
#p4{
	background-color: #cbd694;
	border-top: 2px solid black;
	font-size: 22px;
	margin-top: auto;
	min-height: max-content;
	height: 100%;
	align-items: center;
	display: flex;
}
#p5{
	margin-top: auto;
	min-height: max-content;
	height: 100%;
	background-color: #94b6d6;
	border-top: 2px solid black;
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	align-items: center;
}
.text{
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	justify-content: center;
}
.row1 {
	display: flex;
}
.row2 {
	display: flex;
}