/* *{
	margin: 0;	
	text-align: center;	
	box-sizing: border-box;
}
h1{
	background-color: white;
	border: 2px solid black;
	font-size: 30px;
}
.column{
	width: 50%;
	height: max-content;
}
#content{
	display: flex;
	flex-direction: column;
}
#content.left-column {
	display: flex;
}
#h_1{
	margin-left: 2%;
}
#h_3{
	margin-left: 2%;
	font-size: 22px;
	text-align: left;
	height: max-content;
}
#h_2{
	margin-right: 2%;
	flex: right;
	margin-left: auto;
	height: max-content;
}
#h_4{
    margin-right: 2%;
	text-align: right;
    font-size: 22px;
}
.left-column{
	flex: 25%;
	border-right: 2px solid black;
	display: flex;
	flex-direction: column;
}
.right-column{
	flex: 75%;
}
.main-content {
	margin-left: 10%;
	border-left: 2px solid black;
	height: 100%;
	display: flex;
	flex-direction: column;
}
#p1{
	min-height: 600px;
	display: flex;
	height: 100%;
	background-color: #d6c694;
	font-size: 22px;
}
#p2{
	max-height: max-content;
	background-color: #94b6d6;
	border-bottom: 2px solid black;
	padding-top: 30px;
	padding-bottom: 30px;
	align-items: center;
	display: flex;
}
#p3{
	min-height: 500px;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: white;
	font-size: 22px;
}
#p4{
	background-color: #cbd694;
	border-top: 2px solid black;
	font-size: 22px;
	margin-top: auto;
	min-height: max-content;
	height: 100%;
	align-items: center;
	display: flex;
}
#p5{
	margin-top: auto;
	min-height: max-content;
	height: 100%;
	background-color: #94b6d6;
	border-top: 2px solid black;
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	align-items: center;
}
.text{
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	justify-content: center;
}
.row1 {
	display: flex;
}
.row2 {
	display: flex;
}

@media (max-width: 768px) {
    .text, #p4, #h_3, #h_4 {
        font-size: 16px;
    }
    #h_1, #h_2 {
        font-size: 18px;
    }
    #p2 {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #p5{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .main-content {
        margin-left: 0;
    }
    .left-column {
        border-right: none;
        flex: 40%;
    }
    .right-column {
        flex: 60%;
    }
    #p1 {
        min-height: 300px;
    }
    #p3 {
        min-height: 250px;
    }
    
	.row2 {
		margin-top: auto;
	}
	#content {
		display: flex;
		flex-direction: column;
	}
	.row1 {
		height: 100%;
	}


	html, body, #content {
		height: 100%;
	}
	#p4 {
        width: 100%;
    }
    #p5 {
        max-width: 60%;
    }
	.row1 {
		height: 100%;
		max-height: max-content;
		display: flex;
	}
	html, body, #content {
		height: 100%;
	}
	#p4 {

	}
	.row2 {
		margin-top: auto;
	}
	.text {
		min-height: max-content;
	}
} */


* {
	margin: 0;	
	text-align: center;	
	box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    height: 100%;
    table-layout: fixed;
}

td {
    text-align: center;
    padding: 0;
}

.space {
	width: 7.5%;
	background-color: white;
	border-right: 2px solid black;
}

.left-column {
	width: 25%;
	border-right: 2px solid black;
}

.right-column {
	width: 67.5%;
	border-left: 2px solid black;
}

.row1 .left-column {
	background-color: #d6c694;
	font-size: 22px;
}

.row2 .left-column {
	background-color: #cbd694;
	border-top: 2px solid black;
	font-size: 22px;
}

.row1 .right-column {
	background-color: red;
}

.row2 .right-column {
	background-color: #94b6d6;
	border-top: 2px solid black;
	padding-top: 30px;
	padding-bottom: 30px;
}

.row1 {
	height: 600px;
}

.row2 {
	height: 100px;
}

.row1, .row2 {
	overflow-wrap: break-word;
}

#p2{
	height: 100px;
	background-color: #94b6d6;
	border-bottom: 2px solid black;
	padding-top: 30px;
	padding-bottom: 30px;
}

#p3{
	height: 100%;
	background-color: white;
	font-size: 22px;
}

.column {
	width: 50%;
}

#h_1{
	margin-left: 2%;
    float: left;
}

#h_3{
	margin-left: 2%;
	font-size: 22px;
    float: left;
}

#h_2{
	margin-right: 2%;
	height: max-content;
	margin-left: auto;
}

#h_4{
	margin-right: 2%;
	height: max-content;
	margin-left: auto;
	font-size: 22px;
	text-align: right;
}

h1{
	background-color: white;
	border: 2px solid black;
	font-size: 30px;
    width: 98%;
}

.column-right {
	margin-right: 0;
	margin-left: auto;
}

@media (max-width: 768px) {
    .text, #p4, #h_3, #h_4 {
        font-size: 16px;
    }
    #h_1, #h_2 {
        font-size: 18px;
    }
    #p2, #p5 {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .main-content {
        margin-left: 0;
    }
    .left-column {
        border-right: none;
    }
    #p1 {
        min-height: 300px;
    }
    #p3 {
        min-height: 250px;
    }
	.space {
		width: 0%;
	}
	.left-column {
		width: 40%;
	}
	.row1 {
		height: auto;
	}
}